DATABASE_URL="postgresql://postgres:1234@localhost:5432/djengo_profiles?schema=public"



PROFILE_SERVICE_PORT=50051
FILES_SERVICE_PORT=50052
ADDRESS_SERVICE_PORT=50053
COMMUNICATION_SERVICE_PORT=50054
ORGANIZATION_SERVICE_PORT=50055
FINANCIAL_SERVICE_PORT=50056
ADMIN_SERVICE_PORT=50057

FINANCIALS_SERVICE_URL="localhost:50056"
OPERATIONS_SERVICE_URL="localhost:50059"
GRPC_HOST=0.0.0.0



JWT_ACCESS_SECRET="aB3dE7fG9hJ"
JWT_REFRESH_SECRET="xY2zA8bC4dE6fG"
JWT_AUTH_SECRET="x454Y2zA8bC4dE6fG"

NODE_ENV=development
